:root {
    --black: #000000;
    --white: #ffffff;
    --doctorWhite: #fafafa;
    --codeWhite: #f6f8fa;
    --fireEngine: #df1717;
    --tomato: #ff5a42;
    --brick: #a40000;
    --codeRed: #cc3333;
    --nero: #212121;
    --charcoal: #484848;
    --codeBlue: #161b22;;
}