{{- $googlefont := site.Params.font.googlefont -}}
{{- if $googlefont -}}
<link rel="preconnect stylesheet" href="https://fonts.googleapis.com/css?family={{- $googlefont -}}&display=swap">
{{- end -}}

<meta name="robots" content="index,follow">
{{- $summary := .Summary -}}
{{- if not $summary -}}
    {{- $summary = site.Params.profile.description -}}
{{- end -}}
{{- if $summary -}}
    <meta name="description" content="{{- $summary | plainify | safeHTML -}}">
{{- end -}}
<link rel="shortcut icon" type="image/png" href="/imgs/favicon.png" />